@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300&subset=latin,cyrillic);
html {height:100%}
body {
	width:100%;
	background:transparent url("images/bk.png") no-repeat fixed center center;
    background-size: 100%, auto;
    background-color: black;
	font-family: 'Open Sans', sans-serif;
}

header {
	width:100%; 
	height:350px;
	background:transparent url("images/header_1.png") repeat-x center top;
}
header .sub_header {
	width:100%; height:60px;
	background-color:rgba(0,0,0,.3);
	color:#fff;
	font-size:16px;
	line-height: 100%;
	/* opacity: 0.2; */
}

footer {
	width: 100%;
	height: auto;
}

header .sub_header .sub_header_center {max-width:790px; margin:0 auto; padding-top:12px}
header .sub_header .left {float:left}
header .sub_header .right {float:right}
header .sub_header .skype {
	padding:8px 0 8px 45px;
	float:left;
	margin-right:30px;
	background:transparent url("images/ico_skype.png") no-repeat left top;
}
header .sub_header .email {
	padding:8px 0 8px 45px;
	float:left;
	background:transparent url("images/ico_email.png") no-repeat left top;
}
header .sub_header .fb {
	float:left;
	width:34px; height:34px;
	background:transparent url("images/ico_facebook.png") no-repeat left top;	
}
header .sub_header .vk {
	float:left;
	margin-left:20px;
	width:34px; height:34px;
	background:transparent url("images/ico_vk.png") no-repeat left top;	
}

header .logo {
	display:table;
	margin:0 auto;
}

.main {}
.main .video {
	width:790px; 
	height:510px;
	display:table;
	margin:10px auto 10px;
	border-radius: 5px;
	-webkit-mask-image: -webkit-radial-gradient(circle, white 100%, black 100%); /*ios 7 border-radius-bug */
	-webkit-transform: rotate(0.000001deg); /*mac os 10.6 safari 5 border-radius-bug */
	-webkit-border-radius: 5px; 
	-moz-border-radius: 5px;
	border-radius: 5px; 
	overflow: hidden; 
">
}
.main .content {
	width:790px;
	display:table;
	margin:20px auto 20px;
	padding:15px 20px;
	background-color:rgba(0,0,0,.8);
	color:#fff;
	font-size:16px;
	line-height:170%;
	box-sizing:border-box;
	border-radius: 5px;
}

.main .play_btn {
	width:275px; height:100px;
	display:table;
	margin:130px auto;
	background:transparent url("images/btn_play.png") no-repeat center top;
}

.main .screens {
	max-width:790px;
	width:100%;
	margin: 0 auto;
	padding: 15px 0px 12px 0px;
	display:table;
	background-color:rgba(0,0,0,.8);
	border-radius: 5px;
}
.main .screens a {
	display: table-cell;
	text-align:center;
}

footer {
	display:table;
	margin:20px auto 0;
	padding:150px 0 15px;
	color:#fff;
	/* background:transparent url("images/RUN_LOGO.png") no-repeat center top; */
	font-size:18px;
	font-weight:300;
	opacity: 0.9;
	background:transparent url("images/footer_1.png") repeat-x center top;
}

.footerlogo {
	margin-left: auto;
	margin-right: auto;
	margin-top: -100px;
	display: block;
}

.copyright {
	text-align: center;
	opacity: 0.9;
	font-size: 16px;
}